<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" >
  <extensions>
    <add assembly="NLog.Web.ASPNET5"/>
  </extensions>
  <targets>
    <target encoding="utf-8" xsi:type="File" name="fCommon" fileName="logs\common_${shortdate}.log" layout="${longdate} ${logger} ${uppercase:${level}} ${message}" />
    <target encoding="utf-8" xsi:type="File" name="fError" fileName="logs\error_${shortdate}.log" layout="${longdate} ${logger} ${uppercase:${level}} ${message}" />
    <target encoding="utf-8" xsi:type="File" name="fInfo" fileName="logs\info_${shortdate}.log" layout="${longdate} ${logger} ${uppercase:${level}} ${message}" />
    <target xsi:type="Null" name="blackhole" />
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="fCommon" />
    <logger name="*" minlevel="Error" writeTo="fError" />
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    <logger name="*" level="Info" writeTo="fInfo" />
  </rules>
</nlog>